## Extracting information from the given website

In [5]:
from bs4 import BeautifulSoup                         # It is used for webscrapping
import requests                                        # used to download a webpage
import pandas as pd

In [6]:

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [7]:
# Downloading the webpage at url

data= requests.get(url).text              # Get the contents of web page in text format and store it in variable called data

In [8]:
# Creating the soup object

soup=BeautifulSoup(data,'html.parser')

In [10]:
# Scrapping Language naem and annual average salary

table=soup.find('table')
table_rows = table.find_all("tr")
l=[]
for tr in table_rows:
    td=tr.find_all('td')
    row=[tr.text for tr in td]
    l.append(row)  
#df=pd.DataFrame(l,columns=["Language name","annual average salary"])
df=pd.DataFrame(l,columns=["Column1","language","c3","salary","c5"])
df
df.drop(columns=["Column1","c3","c5"], inplace=True)
df.to_csv('popular-languages.csv')                                 # Saving the scrapped data into CSV file

In [11]:
pd.read_csv("popular-languages.csv")

    Unnamed: 0    language                 salary
0            0    Language  Average Annual Salary
1            1      Python               $114,383
2            2        Java               $101,013
3            3           R                $92,037
4            4  Javascript               $110,981
5            5       Swift               $130,801
6            6         C++               $113,865
7            7          C#                $88,726
8            8         PHP                $84,727
9            9         SQL                $84,793
10          10          Go                $94,082